<%= form_tag sessions_path do -%>
<%= stylesheet_link_tag 'login' %>

<body>
  <div class='loginbox'>
      <div class='input-field'><%= image_tag('peritor_theme/logo.png', :left => '480', :top => '204', :position => 'absolute', class: 'Logo' )%></div>
      <div class='input-field'><%= text_field_tag 'login', nil, :placeholder => "   Username", class: 'Username' %></div><br/>
      <div class='input-field'><%= password_field_tag 'password', nil, :placeholder => '   Password', class: 'Password' %></div>
      <div class='input-field'><%= submit_tag 'Login', class: 'Login' %></div>
    </div>
<% end -%>
</body>
